build_swpc_cat.pro
build_swpc_cat.pro~
swpc_cat.in
swpc_cat.pro
swpc_cat.pro~~~
swpc_cat_library/
README
swpc_cat.in~~
swpc_cat.pro~
swpc_cat_data/
swpc_cat_prefs
rename_lasco_images.pro
swpc_cat.in~~~~
swpc_cat.pro~~
camera__define.pro
quaternion__define.pro 
.gitignore~
swpc_cat_dev.pro~
.project
